#include <windows.h>
#include "resource.h"

IDD_PLUGINPANEL DIALOGEX 26,41,150,240
CAPTION "Changed Lines"
FONT 8,"MS Sans Serif",0,0,0
STYLE WS_POPUP|WS_VISIBLE|WS_CAPTION|WS_SYSMENU|DS_SHELLFONT
EXSTYLE WS_EX_WINDOWEDGE|WS_EX_TOOLWINDOW
BEGIN
  CONTROL "Enabled",IDC_STATIC,"Static",WS_CHILDWINDOW|WS_VISIBLE|WS_GROUP,22,32,35,8
  CONTROL "",IDC_CHK_ENABLED,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|BS_AUTOCHECKBOX,10,32,10,9
  CONTROL "Include Saves",IDC_STATIC,"Static",WS_CHILDWINDOW|WS_VISIBLE|WS_GROUP,78,32,45,9
  CONTROL "",IDC_CHK_INCSAVES,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|BS_AUTOCHECKBOX,64,32,10,9
  CONTROL "",IDC_LSV1,"SysListView32",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|LVS_SHOWSELALWAYS|LVS_REPORT|LVS_SINGLESEL,10,57,128,111,WS_EX_CLIENTEDGE
END

IDD_SETTINGS DIALOGEX 26,41,190,183
CAPTION "Settings"
FONT 8,"MS Sans Serif",0,0,0
STYLE WS_POPUP|WS_VISIBLE|WS_CAPTION|WS_SYSMENU|DS_SHELLFONT
BEGIN
  CONTROL "Margin Width",IDC_STATIC,"Static",WS_CHILDWINDOW|WS_VISIBLE|WS_GROUP,12,16,45,11
  CONTROL "",IDC_EDT_WIDTH,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,57,14,20,15,WS_EX_CLIENTEDGE
  CONTROL "Use N++ Colors",IDC_STATIC,"Static",WS_CHILDWINDOW|WS_VISIBLE|WS_GROUP,96,16,55,11
  CONTROL "",IDC_CHK_NPPCOLOR,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|BS_AUTOCHECKBOX,84,15,10,9
  CONTROL "Change Marker",IDC_GRP1,"Button",WS_CHILDWINDOW|WS_VISIBLE|BS_GROUPBOX,10,36,125,50
  CONTROL "Color",IDC_BTN_COLORCHANGE,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,25,46,30,15
  CONTROL "Reset Default",IDC_BTN_COLORCHANGEDEF,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,65,46,60,15
  CONTROL "",IDC_CBO_MARKCHANGE,"ComboBox",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|CBS_DROPDOWNLIST,25,66,100,15
  CONTROL "Save Marker",IDC_GRP2,"Button",WS_CHILDWINDOW|WS_VISIBLE|BS_GROUPBOX,10,96,125,50
  CONTROL "Color",IDC_BTN_COLORSAVE,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,25,106,30,15
  CONTROL "Reset Default",IDC_BTN_COLORSAVEDEF,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,65,106,60,15
  CONTROL "",IDC_CBO_MARKSAVE,"ComboBox",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|CBS_DROPDOWNLIST,25,126,100,15
  CONTROL "OK",IDB_OK,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,70,156,50,14
END

IDI_PLUGINPANEL ICON DISCARDABLE "ChangedLines.ico"
IDB_TOOLBAR1 BITMAP DISCARDABLE "DockingFeature/res/Toolbar1.bmp"

