#include <windows.h>
#include "resource.h"

IDD_PLUGINPANEL DIALOGEX 26,41,200,240
CAPTION "Changed Lines"
FONT 8,"MS Shell Dlg",0,0,0
STYLE WS_POPUP|WS_VISIBLE|WS_CAPTION|WS_SYSMENU|DS_SHELLFONT
EXSTYLE WS_EX_WINDOWEDGE|WS_EX_TOOLWINDOW
BEGIN
  CONTROL "Include Saves",IDC_STATIC,"Static",WS_CHILDWINDOW|WS_VISIBLE|WS_GROUP,22,27,50,11
  CONTROL "",IDC_CHK_INCSAVES,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|BS_AUTOCHECKBOX,8,27,10,9
  CONTROL "Use N++ Colors",IDC_STATIC,"Static",WS_CHILDWINDOW|WS_VISIBLE|WS_GROUP,102,27,60,8
  CONTROL "",IDC_CHK_NPPCOLOR,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|BS_AUTOCHECKBOX,88,27,10,9
  CONTROL "Panel Raise (or Toggle)",IDC_STATIC,"Static",WS_CHILDWINDOW|WS_VISIBLE|WS_GROUP,102,42,85,8
  CONTROL "",IDC_CHK_PANELTOGGLE,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|BS_AUTOCHECKBOX,88,42,10,9
  CONTROL "",IDC_LSV1,"SysListView32",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|LVS_SHOWSELALWAYS|LVS_SINGLESEL|LVS_REPORT,2,57,195,111,WS_EX_CLIENTEDGE
END

IDD_SETTINGS DIALOGEX 26,41,170,200
CAPTION "Changed Lines Settings"
FONT 8,"MS Shell Dlg",0,0,0
STYLE WS_POPUP|WS_VISIBLE|WS_CAPTION|WS_SYSMENU|DS_SHELLFONT
BEGIN
  CONTROL "&OK",IDB_OK,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|BS_DEFPUSHBUTTON,92,180,50,14

  CONTROL "Margin &Width",IDC_STATIC,"Static",WS_CHILDWINDOW|WS_VISIBLE|WS_GROUP,16,16,45,11
  CONTROL "",IDC_EDT_WIDTH,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,66,15,20,14,WS_EX_CLIENTEDGE

  CONTROL "Use &Indicators",IDC_STATIC,"Static",WS_CHILDWINDOW|WS_VISIBLE|WS_GROUP,104,16,50,11
  CONTROL "",IDC_CHK_INDICS,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|BS_AUTOCHECKBOX,90,16,10,9

  CONTROL "&Change Marker",IDC_GRP1,"Button",WS_CHILDWINDOW|WS_VISIBLE|BS_GROUPBOX,10,35,132,30
  CONTROL "",IDC_GRP_BTNCC,"Button",WS_CHILDWINDOW|WS_VISIBLE|BS_GROUPBOX,25,45,30,15,WS_EX_DLGMODALFRAME
  CONTROL "Color",IDC_BTN_COLORCHANGE,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|BS_OWNERDRAW,26,46,28,13
  CONTROL "Reset Default",IDC_BTN_COLORCHANGEDEF,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,65,45,60,15

  CONTROL "&Save Marker",IDC_GRP2,"Button",WS_CHILDWINDOW|WS_VISIBLE|BS_GROUPBOX,10,70,132,30
  CONTROL "",IDC_GRP_BTNCS,"Button",WS_CHILDWINDOW|WS_VISIBLE|BS_GROUPBOX,25,80,30,15,WS_EX_DLGMODALFRAME
  CONTROL "Color",IDC_BTN_COLORSAVE,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|BS_OWNERDRAW,25,81,28,13
  CONTROL "Reset Default",IDC_BTN_COLORSAVEDEF,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,65,80,60,15

  CONTROL "Revert &Modified Marker",IDC_GRP3,"Button",WS_CHILDWINDOW|WS_VISIBLE|BS_GROUPBOX,10,105,132,30
  CONTROL "",IDC_GRP_BTNRM,"Button",WS_CHILDWINDOW|WS_VISIBLE|BS_GROUPBOX,25,115,30,15,WS_EX_DLGMODALFRAME
  CONTROL "Color",IDC_BTN_COLORREVMOD,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|BS_OWNERDRAW,26,116,28,13
  CONTROL "Reset Default",IDC_BTN_COLORREVMODDEF,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,65,115,60,15

  CONTROL "Revert Ori&ginal Marker",IDC_GRP4,"Button",WS_CHILDWINDOW|WS_VISIBLE|BS_GROUPBOX,10,140,132,30
  CONTROL "",IDC_GRP_BTNRO,"Button",WS_CHILDWINDOW|WS_VISIBLE|BS_GROUPBOX,25,150,30,15,WS_EX_DLGMODALFRAME
  CONTROL "Color",IDC_BTN_COLORREVORI,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|BS_OWNERDRAW,26,151,28,13
  CONTROL "Reset Default",IDC_BTN_COLORREVORIDEF,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,65,150,60,15

  CONTROL "Version",IDC_STATIC,"Static",WS_CHILDWINDOW|WS_VISIBLE|WS_DISABLED|WS_GROUP,10,180,30,11
  CONTROL "<a></a>",IDC_STC_VER,"SysLink",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|LWS_TRANSPARENT,40,180,40,11
END

IDI_PLUGINPANEL ICON DISCARDABLE "ChangedLines.ico"
IDB_TOOLBAR1 BITMAP DISCARDABLE "DockingFeature/res/Toolbar1.bmp"
